VITE_SUPABASE_URL=https://kvytyfprybrsgxbcezew.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2eXR5ZnByeWJyc2d4YmNlemV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTE1NDcsImV4cCI6MjA4OTkyNzU0N30.sYnfHUMkE6Sa5Y1ADnr9nWJDPfsF-2jm_UnSGJ2OxN8